UnityFinder/Library/AnnotationManager
UnityFinder/Library/
UnityFinder/ProjectSettings/ProjectSettings.asset
UnityFinder/ProjectSettings/ProjectVersion.txt
UnityFinder/UnityFinder.sln
UnityFinder/Assembly-CSharp.csproj
UnityFinder/Temp/
